:root {
    --primary: #3B3B3D;
  }
  
  .btn {
    padding: 8px 20px;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    margin-right: 5px;
  }
  
  .btn--primary {
    background-color: var(--primary);
    color: #F2F2F2;
    border: 2px solid var(--primary);
  }
  
  .btn--outline {
    background-color: #F2F2F2;
    color: #3B3B3D;
    padding: 8px 20px;
    border: 2px solid var(--primary);
    transition: all 0.3s ease-out;
  }
  
  .btn--medium {
    padding: 5px 20px;
    font-size: 15px;
    font-weight: 600;
  }
  
  .btn--large {
    padding: 10px 24px;
    font-size: 18px;
    font-weight: 800;
  }
  
  .btn--large:hover,
  .btn--medium:hover {
    transition: all 0.3s ease-out;
    background: #7283A6;
    color: #242424;
    text-shadow: 0 0 10px #F2F2F2;
  }
  