.title-with-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h4 {
    margin-top: 20px;
}

@media screen and (max-width: 675px) {


    .title-with-buttons {
        flex-direction: column;
    }

    .btn--medium {
        margin-bottom: 5px;
    }
}
