.title-with-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}


.cards-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 95%;
    margin: 0 auto;
    justify-content: center;
}

.card-items {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 200px;
    height: 150px;
    padding: 0.5rem;
    margin: 0.7rem;
    background-color: #ABB0C4;
    border-radius: 10px;
    text-align: center;
    background-size: cover;
}

.card-items:hover {
    box-shadow: 0 0 10px #7283A6;
}

.link-cards {
    text-decoration: none;
    color: #3B3B3D;
    font-size: 1.5rem;
    text-shadow: 0 0 20px #F2F2F2;
    font-weight: 800;
}

.link-cards:hover {
    text-decoration: none;
    color:#7283A6;
}

