.background {
    position: fixed;
    left: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    z-index: -1;
    
}

/* main pages */

.page-title {
    height: 160px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    object-fit: contain;
    background-color: #ABB0C4;
    opacity: 80%;
    color: #3B3B3D;
    text-shadow: 0 0 10px #F2F2F2;
    font-size: 50px;
    padding-top: 60px;
}

.page-container {
    min-height: 70vh;
    width: 70%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: justify;
    align-items: center;
    object-fit: contain;
    margin: 10px auto 10px auto;
    background-color: #F2F2F2;
    opacity: 80%;
    padding-left: 30px;
    padding-right: 30px;
    border-radius:10px;
}

.page-container > h1 {
    padding: 1rem;
    text-align: center;
}

.page-container > h4 {
    padding: 0.7rem;
    text-align: center;
}


.page-container > p {
    margin-bottom: 0.7rem;
}

.page-container > p > a {
    text-decoration: none;
    color:#7283A6 ;
}

.page-container > p > a:hover {
    text-decoration: none;
    color:#3B3B3D;
    transition: 0.2s ease-out;
}

.page-container > h6 > a {
    text-decoration: none;
    color:#7283A6 ;
}

.page-container > h6 > a:hover {
    text-decoration: none;
    color:#3B3B3D;
    transition: 0.2s ease-out;
}


.page {
    max-width: 1000px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: justify;
    align-items: center;
    object-fit: contain;
}


.page > h2 {
    margin-top: 0.9rem;
    text-align: center;
}

.page > h5 {
    padding: 0.7rem;
    text-align: center;
}

.page > ul {
    margin-bottom: 0.7rem
}

.page > p {
    margin-bottom: 0.7rem;
}

.list-no-bullets {
    list-style-type: none;
    padding: 0; 
    margin: 0; 
}

.list-no-bullets-inside {
    padding: 0; 
    margin: 0; 
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.list-no-bullets-center {
    list-style-type: none;
    padding: 0; 
    margin: 0; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon {
    color: #7283A6 ;
    font-size: 2rem;
}

.icon:hover {
    color: #3B3B3D;
    transition: 0.2s ease-out;
}  

.rounded {
    border-top: 3px solid #7283A6;
    width: 100%;
}

.link {
    text-decoration: none;
    color:#7283A6 ;
}

.link:hover {
    text-decoration: none;
    color:#3B3B3D ;
    transition: 0.2s ease-out;
}

@media screen and (max-width: 768px) {

    .page-title {
        height: 120px;
        font-size: 40px;
        padding-top: 50px;
    }
    .page-container {
        width: 100%;
        border-radius: 0px;
    }

}
