.title-with-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-with-buttons-admin {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.trip-container {
    width: 70vw;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: justify;
    align-items: center;
    object-fit: contain;
    padding-left: 30px;
    padding-right: 30px;
}

.trip-container h4 {
    margin-top: 0.9rem;
    text-align: center;
}


.photos {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


@media screen and (max-width: 1010px) {

    .trip-container {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

}

@media screen and (max-width: 400px) {


    .title-with-buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .photos {
        flex-direction: column;
    }
}